<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">BigBasket</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Dashboard</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="team"
            routerLinkActive="router-link-active"
            >Team
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Project</a>
        </li>
      </ul>
    </div>
    @if (loggedUserData.custId == 0) {
    <button class="btn btn-primary me-2" (click)="onLogin()">Login</button>
    <button class="btn btn-primary me-2" (click)="onRegister()">
      Register
    </button>
    } @else {
    <span class="text-white btn btn-success me-2">
      {{ loggedUserData.name | titlecase }}
    </span>
    <button class="btn btn-primary me-2" (click)="onLogOut()">LogOut</button>
    }

    <a href="">
      <i class="fa fa-shopping-cart text-white"></i>
    </a>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- The Modal Register Login-->
<div class="modal" id="myModal" #register>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="closeRegisterModel()"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="email" class="form-label">Name</label>
            <input
              type="text"
              [(ngModel)]="registerObj.name"
              name="name"
              class="form-control"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Mobile Number</label>
            <input
              type="text"
              [(ngModel)]="registerObj.mobileNo"
              name="mobileno"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">Password:</label>
            <input
              type="password"
              [(ngModel)]="registerObj.password"
              class="form-control"
              name="password"
            />
          </div>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Register Login-->
<div class="modal" id="myModal" #login>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="closeLoginModel()"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="email" class="form-label">UserName/Mobile </label>
            <input
              type="text"
              [(ngModel)]="loginObj.UserName"
              name="name"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">Password:</label>
            <input
              type="password"
              [(ngModel)]="loginObj.UserPassword"
              class="form-control"
              name="password"
            />
          </div>
          <button type="submit" class="btn btn-primary" (click)="onLoginUser()">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
